* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
 }
 
 body {
     font-family: 'Poppins', sans-serif;
     background: url(/imgs/comingsoon.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
 }
 nav {
     height: 80px;
     width: 90%;
 }
 label.logo{
     color: white;
     font-size: 35px ;
     line-height: 80px;
     padding-left: 100px;
     font-weight: bold;
 }
 
 
 nav ul{
     float: right;
     margin-right: 20px;
 }
 nav ul li{
     display: inline-block;
     line-height: 80px;
     margin: 0 5px;
 }
 nav ul li a{
     color: white;
     font-size: 17px;
     text-transform: uppercase;
     padding: 7px 13px;
     border-radius: 20px;
 }
 a.active,a:hover{
     background-color: rgb(206, 206, 206) ;
     color: black;
     transition: .5s;
 }
 .checkbtn {
     display: none;
 }
 #check{
     display: none;
 }

 span {
    color: #ff004f;
}


@media (max-width : 952px){
   
    lable.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width : 1000px){

   

    nav {
        background-color: rgb(67,70,77);
        width: 100%;
    }

    label.logo{
        padding: 30px;
    }

    .container{
        margin-top: 23%;
        font-size: 30px;
        color: white;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(67,70,77);
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background-color: rgb(206, 206, 206);
        color: black;

    }
    #check:checked ~ ul {
        left: 0;
    }
    .icon {
        color: white;
    }
   
}