/*--------------HOME PAGE---------------- */
/*--------------HOME PAGE---------------- */
* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(/imgs/comingsoon.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   color: white;
}
nav {
    height: 80px;
    width: 90%;
}
label.logo{
    color: white;
    font-size: 35px ;
    line-height: 80px;
    padding-left: 100px;
    font-weight: bold;
}

span {
    color: #ff004f;
}


nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 20px;
}
a.active,a:hover{
    background-color: rgb(206, 206, 206) ;
    color: black;
    transition: .5s;
}
.checkbtn {
    display: none;
}
#check{
    display: none;
}

.home-container{
    margin-top: 25%;
    font-size: 30px;
    color: white;
    text-align: center;
}
.container h1{
    font-size: 60px;
    margin-top: 20px;
}

/*----------------ABOUT PAGE--------------------- */
/*----------------ABOUT PAGE--------------------- */

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
 }
 
 section article img {
    width: 80%;
    border-radius: 40px;
 }
 
 section article h1 {
    font-size: 40px;
    font-weight: 600;
 }
 
 section article p {
    padding-top: 20px;
 }
 
 section article p a {
    color: white;
    background-color: rgb(63, 86, 137);
    font-size: 20px;
 }
 
 .col-1 {
    flex-basis: 45%;
 }
 
 .col-2 {
    flex-basis: 50%;
 }
 
 .h1-style {
    text-align: center;
 }





/*--------------EDUCATION PAGE---------------- */
/*--------------EDUCATION PAGE---------------- */

.container{
    padding: 102px;
 }

.tab-titles{
    display: flex;
    margin: 20px 0 40px ;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500 ;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content:'';
    width: 0;
    height: 3px;
    background-color:#ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    
}

.tab-contents ul li span {
    font-size: 20px;
  }

  a {
    color: aqua;
  }

  .tab-contents{
    display: none;
  }

  .tab-contents.active-tab{
    display: block ;
  }

  .container1{
    position: absolute;
    right: 35px;
    top: 200px;
    width: 50%;
    color: black;
    font-weight: 600;
    padding: 35px 15px;
    border-radius: 10px;
    background-color: rgb(67,70,77);
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}
.skill:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}
.bar{
    position: relative;
    padding: 6px 8px;
    background-color: black;
    border-radius: 20px;
}
.bar div{
    position: relative;
    width: 0;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #ff004f ;
    box-shadow: 0 0 5px #185458;
}
#html{
    animation: html 4s forwards;
}
@keyframes html{
    100%{
        width: 90%;
    }
}
#css{
    animation: css 4s forwards;
}
@keyframes css{
    100%{
        width: 90%;
    }
}
#js{
    animation: js 4s forwards;
}
@keyframes js{
    100%{
        width: 65%;
    }
}

 

/*---------------WORK PAGE----------------- */
/*---------------WORK PAGE----------------- */









/*---------------CONTACT PAGE----------------- */
/*---------------CONTACT PAGE----------------- */

.container2 {
    display: flex;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis : 60%; ;
}

.contact-left p {
    margin-top: 30px;
}









/*--------------FOR MOBILE---------------- */
/*--------------FOR MOBILE---------------- */


@media (max-width : 952px){
   
    lable.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width : 1000px){

    nav {
        background-color: rgb(67,70,77);
        width: 100%;
    }

    label.logo{
        padding: 30px;
    }

    .container{
        margin-top: 23%;
        font-size: 30px;
        color: white;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(67,70,77);
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background-color: rgb(206, 206, 206);
        color: black;

    }
    #check:checked ~ ul {
        left: 0;
    }
    .icon {
        color: white;
    }
    body {
        height: 100vh;
    }
    section {
        display: block;
        text-align: center;
     }
     section article p {
        padding-bottom: 30px;
     }
     .about-body {
        height: 122vh;
        overflow: hidden;
     }


     /*--------------EDUCATION PAGE---------------- */
     /*--------------EDUCATION PAGE---------------- */


    


}